@import "../../node_modules/normalize.less/normalize.less";
/* @import (less) "global/bootstrap.css"; */
@import "variables.less";
@import "mixins.less";
/* @import "global/fonts.less"; */
// @import "global/icons.less";


@import "blocks/page-header.less";
@import "blocks/logo.less";
@import "blocks/menu.less";
@import "blocks/icons.less";
@import "blocks/slider.less";
@import "blocks/about.less";
@import "blocks/service.less";
@import "blocks/join.less";
@import "blocks/btn.less";
@import "blocks/page-main.less";
@import "blocks/page-footer.less";

body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  .clearfix();
}